<h1>¿Qué tipo de servicio será?</h1>

<div class="text-center mt-5 gap-5 d-flex justify-content-center">
    <button class="btn btn-dark btn-lg">Reparación</button>
    <button class="btn btn-light btn-lg">Limpieza</button>
</div>

@section ContainerStyles{ h-75 d-flex justify-content-center align-items-center}

<style>
    body{
        height: 100vh;
    }
</style>

