@model DAL.ViewModels.WorkFlowServicioViewModel

<div class="row mt-4">

    <input type="hidden" asp-for="Servicio.Id" />

    <div class="col-md-11 text-light card-transparent-rounded-dark">
        
        <h3 class="mt-3 text-center border-bottom pb-2">Servicio</h3>
        <div class="row">
            <div class="col-md-4 mt-2">
                <label for="tipoServicio">Tipo de servicio:</label>
                <input type="text" class="form-control" asp-for="Servicio.TipoServicio" disabled>
            </div>
            <div class="col-md-4 mt-2">
                <label for="estadoServicio">Estado de servicio:</label>
                <input type="text" class="form-control" asp-for="Servicio.EstadoServicio" disabled>
            </div>
            <div class="col-md-4 mt-2">
                <label for="totalServicio">Total de servicio:</label>
                <input type="number" class="form-control" asp-for="Servicio.TotalServicio" disabled>
            </div>
        </div>

        <h3 class="mt-3 text-center border-bottom pb-2">Reparación</h3>
        <div class="row mb-3">
            <div class="col-md-4 mt-2">
                <label for="dispositivo">Dispositivo:</label>
                <input type="text" class="form-control" asp-for="Reparacion.TipoDispositivo" disabled>
            </div>
            <div class="col-md-4 mt-2">
                <label for="marca">Marca:</label>
                <input type="text" class="form-control" asp-for="Reparacion.Marca" disabled>
            </div>            
            <div class="col-md-4 mt-2">
                <label for="modelo">Modelo:</label>
                <input type="text" class="form-control" asp-for="Reparacion.Modelo" disabled>
            </div>
            @if (!string.IsNullOrEmpty(Model.Reparacion.Problema))
            {
                <div class="col-md-4 mt-2">
                    <label for="problema" class="col-sm-2 col-form-label">Problema:</label>
                    <div class="col-sm-11">
                        <input type="text" class="form-control" asp-for="Reparacion.Problema" disabled>
                    </div>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.Reparacion.DetalleProblema))
            {
                <div class="col-md-6 mt-2">
                    <label for="detalleProblema">Detalle del problema:</label>
                    <textarea class="form-control" asp-for="Reparacion.DetalleProblema" rows="3" disabled></textarea>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.Reparacion.Diagnostico))
            {
                <div class="col-md-6 mt-2">
                    <label for="diagnostico">Diagnóstico:</label>
                    <textarea class="form-control" asp-for="Reparacion.Diagnostico" rows=" 3" disabled></textarea>
                </div>
            }            
        </div>
    </div>

    <div class="col-md-6 mt-4 text-light card-transparent-rounded">
        <h4 class="text-light text-center mt-3">Repuestos utilizados</h4>
        <table id="ReparacionesTable" class="table table-dark table-striped table-bordered dafault-table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>Costo</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="4" class="text-center">Cargando historial...</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-5 mt-4 card-transparent-rounded-dark ms-2">
        <div id="chat-container" class="container h-100">
            <h4 class="mt-3 text-center text-light">Comentarios del tecnico</h4>

            <div id="chat-messages" class="border mt-1 mb-2 p-2 overflow-auto text-light">
            </div>

        </div>
    </div>

</div>

@section Scripts{
    <script src="~/js/WorkFlow.js"></script>
}

<style>
    #ReparacionesTable th:nth-child(3),
    #ReparacionesTable td:nth-child(3) {
        display: none;
    }
</style>