html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: linear-gradient(90deg, rgba(135,81,228,1) 0%, rgba(104,116,248,1) 35%, rgba(25,185,242,1) 100%);
}

textarea {
    resize: none;
}

    input:disabled:hover, textarea:disabled:hover {
        background-color: #f8f9fa;
        cursor: not-allowed;
    }

    button:hover, a:hover{
        cursor:pointer;
    }

.card-hover {
    transition: transform 0.3s;
}

.card-hover:hover {
    transform: scale(1.1);
}

.card-transparent-rounded {
    background-color: #ffffff5e;
    border-radius: 10px;
}

.card-transparent-rounded-dark {
    background-color: #00000070;
    border-radius: 10px;
}

body::-webkit-scrollbar {
    width: 0px;
}

#chat-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#chat-messages {
    flex: 1;
    overflow-y: auto;
}

#message-box {
    position: sticky;
    bottom: 0;
    padding: 10px;
}